.container {
    background-color: #fff;
    border-radius: 55px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 510px;
    height: 320px;
    margin-top: 35px;
  }
  
  .form-container {
    margin-top: -25px;
    padding: 25px;
    position: absolute;
    height: 100%;
    width: 90%;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  button {
    border-radius: 20px;
    border: 1px solid white;
    background-color: #39005c;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }
  

  
  .cont {
    text-align: -webkit-center;
  }